/*fontes do google*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
/* bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/* ------------------------------ajustes gerais------------------------------ */
* {
  text-decoration: none;
  list-style: none;
  font-family: "Quicksand", sans-serif;
}

body {
  overflow: hidden;
}

/* ------------------------------navbar------------------------------ */
nav.navbar-background {
  background: rgba(0, 0, 0, 0.3);
}

.icon:hover .touro-branco,
.icon .touro-dourado {
  display: none;
}

.icon:hover .touro-dourado {
  display: inline;
}

.nav-link {
  font-size: 1.2em;
  color: white;
  font-weight: 500;
}

.nav-link:hover {
  color: #eeb930;
  font-weight: 600;
}

.navbar-toggler {
  color: rgba(255, 255, 255, 0);
  border: none;
}

/* ------------------------------background------------------------------ */
#background {
  background-image: linear-gradient(
      347deg,
      rgba(2, 0, 36, 0.9) 0%,
      rgba(101, 9, 121, 0.6) 35%,
      rgba(0, 55, 255, 0.8) 100%
    ),
    url("../img/fundo.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.shapedividers_com-1115 {
  overflow: hidden;
  position: relative;
}
.shapedividers_com-1115::before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  position: absolute;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw;
  background-size: 100% 51px;
  background-position: 50% 100%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="xMidYMin slice" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 56"><g fill="%23eeb930"><circle cx="133.2" cy="40.2" r="6" transform="rotate(-68 117 29)"/><circle cx="298.1" cy="40.2" r="6" transform="rotate(-68 282 29)"/><circle cx="168.4" cy="7.7" r="7.7"/><circle cx="242.8" cy="32" r="5.3" transform="rotate(-45 216 21)"/><circle cx="89" cy="13.3" r="5.3"/><circle cx="457.2" cy="40.2" r="6" transform="rotate(-68 441 29)"/><circle cx="622.1" cy="40.2" r="6" transform="rotate(-68 606 29)"/><circle cx="492.4" cy="7.7" r="7.7"/><circle cx="566.8" cy="32" r="5.3" transform="rotate(-45 540 21)"/><circle cx="413" cy="13.3" r="5.3"/><circle cx="781.2" cy="40.2" r="6" transform="rotate(-68 765 29)"/><circle cx="946.1" cy="40.2" r="6" transform="rotate(-68 930 29)"/><circle cx="816.4" cy="7.7" r="7.7"/><circle cx="890.8" cy="32" r="5.3" transform="rotate(-45 864 21)"/><circle cx="737" cy="13.3" r="5.3"/><path d="M1111 18a6 6 0 10-6 6 6 6 0 006-6z"/><circle cx="1270.1" cy="40.2" r="6" transform="rotate(-68 1254 29)"/><circle cx="1140.4" cy="7.7" r="7.7"/><circle cx="1214.8" cy="10.1" r="5.3"/><circle cx="1061" cy="13.3" r="5.3"/><path d="M1435 18a6 6 0 10-6 6 6 6 0 006-6z"/><circle cx="1594.1" cy="40.2" r="6" transform="rotate(-68 1578 29)"/><circle cx="1464.4" cy="7.7" r="7.7"/><circle cx="1538.8" cy="10.1" r="5.3"/><circle cx="1385" cy="13.3" r="5.3"/><path d="M1759 18a6 6 0 10-6 6 6 6 0 006-6z"/><circle cx="1918.1" cy="40.2" r="6" transform="rotate(-68 1902 29)"/><circle cx="1788.4" cy="7.7" r="7.7"/><circle cx="1862.8" cy="10.1" r="5.3"/><circle cx="1709" cy="13.3" r="5.3"/><path d="M2000 42h-14c0-5 7-5 14-6v-4c-16 1-33 0-33 10h-8c0-14 20-14 41-14v-8c-29-1-55-3-56 24v2h-10 1c6-9 7-20 6-26-2-9-8-17-16-19-10-2-19 7-17 15 0-5 5-10 10-10s10 4 11 10-1 10-5 14a24 24 0 01-14 6 49 49 0 01-16-2c-10-2-20-7-30-5a17 17 0 00-12 10 20 20 0 00-2 3h-31c0-8 19-4 27-11-19 3-46-2-46 11h-8c0-26 68-4 92-24-40 12-107-17-107 28h-7c6-9 7-20 6-26-2-9-8-17-16-19-10-2-19 7-17 15 0-5 5-10 10-10s10 5 11 10-1 10-5 14a24 24 0 01-14 6 49 49 0 01-16-2c-10-2-20-7-30-5a17 17 0 00-12 10 20 20 0 00-2 3h-23c0-8 19-4 27-11-19 3-46-2-46 11h-8c0-26 68-4 92-24-40 12-105-16-107 26v3h-10l1-1c6-9 7-20 6-26-2-9-8-17-16-19-10-2-19 7-17 15 0-5 5-10 10-10s10 5 11 10-1 10-5 14a24 24 0 01-14 6 49 49 0 01-16-1c-10-3-20-8-30-6a17 17 0 00-12 10 20 20 0 00-2 3h-31c0-8 19-4 27-11-19 3-46-2-46 11h-8c0-26 68-4 92-24-40 12-107-17-107 28h-7c6-9 7-20 6-26-2-9-8-17-16-19-10-2-19 7-17 15 0-5 5-10 10-10s10 5 11 10-1 10-5 14a24 24 0 01-14 6 49 49 0 01-16-1c-10-3-20-8-30-6a17 17 0 00-12 10 20 20 0 00-2 3h-23c0-8 19-3 27-11-19 3-46-2-46 11h-8c0-26 68-4 92-24-40 12-105-16-107 26v3h-10l1-1c6-9 7-20 6-26-2-9-8-17-16-19-10-2-19 7-17 15 0-5 5-10 10-10s10 5 11 10-1 10-5 14a24 24 0 01-14 6 49 49 0 01-16-1c-10-3-20-8-30-6a17 17 0 00-12 10 20 20 0 00-2 3h-31c0-8 19-3 27-11-19 3-46-2-46 11h-8c0-26 68-4 92-24-40 12-107-17-107 28h-7c6-9 7-20 6-26-2-9-8-17-16-19-10-2-19 7-17 15 0-5 5-10 10-10s10 5 11 10-1 11-5 14a24 24 0 01-14 6 49 49 0 01-16-1c-10-3-20-8-30-6a17 17 0 00-12 10 20 20 0 00-2 4h-23c0-9 19-4 27-12-19 3-46-2-46 11h-8c0-26 68-4 92-23-40 11-105-17-107 25v3h-10l1-1c6-9 7-19 6-26-2-9-8-17-16-19-10-2-19 7-17 15 0-5 5-10 10-10s10 5 11 10-1 11-5 14a24 24 0 01-14 6 49 49 0 01-16-1c-10-3-20-8-30-6a17 17 0 00-12 10 20 20 0 00-2 4h-31c0-9 19-4 27-12-19 3-46-2-46 11h-8c0-26 68-4 92-23-40 11-107-18-107 27h-7c6-9 7-19 6-26-2-9-8-17-16-18-10-3-19 6-17 14 0-5 5-10 10-10s10 4 11 10-1 10-5 14a24 24 0 01-14 6 49 49 0 01-16-2c-10-2-20-7-30-5a17 17 0 00-12 10 20 20 0 00-2 3h-23c0-8 19-4 27-11-19 3-46-2-46 11h-8c0-26 68-4 92-24-40 12-105-16-107 26v2h-10 1c6-9 6-20 6-26-2-9-8-17-16-19-10-2-19 7-17 15 0-5 5-10 10-10s10 4 11 10-1 10-5 14a24 24 0 01-14 6 49 49 0 01-16-2c-10-2-20-7-30-5a17 17 0 00-12 10 20 20 0 00-2 3h-31c0-8 19-4 27-11-19 3-46-2-46 11h-8c0-26 68-4 92-24-40 12-107-17-107 28h-7c6-9 7-20 6-26-2-9-8-17-16-19-10-2-19 7-17 15 0-5 5-10 10-10s10 4 11 10-1 10-5 14a24 24 0 01-14 6 49 49 0 01-16-2c-10-2-20-7-30-5a17 17 0 00-12 10 20 20 0 00-2 3h-23c0-8 19-4 27-11-19 3-46-2-46 11h-8c0-26 68-4 92-24-40 12-105-16-107 26v2h-10 1c6-9 6-20 6-26-2-9-8-17-16-19-10-2-19 7-17 15 0-5 5-10 10-10s10 4 11 10-1 10-5 14a24 24 0 01-14 6 49 49 0 01-16-2c-10-2-20-7-30-5a17 17 0 00-13 10 20 20 0 00-1 3h-31c0-8 19-4 27-11-19 3-46-2-46 11h-8c0-26 68-4 92-24-40 12-107-17-107 28h-7c6-9 7-20 6-26-2-9-8-17-16-19-10-2-19 7-17 15 0-5 5-10 10-10s10 5 11 10-1 10-5 14a24 24 0 01-14 6 49 49 0 01-16-2c-10-2-20-7-30-5a17 17 0 00-12 10 20 20 0 00-2 3H42c0-8 19-4 27-11-19 3-46-2-46 11h-8c0-26 68-4 92-24C67 30 2 2 0 44v12h2000zM110 41c-5 7-23-1-35 3 0-14 21-4 35-3zm167 0c-5 7-23-1-36 3 0-14 21-4 36-3zm159 0c-5 7-23-1-35 3 0-14 21-4 35-3zm165 0c-5 7-23-1-36 3 0-14 22-4 36-3zm158 0c-6 7-24-1-36 3 0-14 21-4 36-3zm165 0c-5 7-23-1-35 3 0-14 21-4 35-3zm160 0c-5 7-23-1-36 3 1-14 22-4 36-3zm163 0c-5 7-23-1-36 3 0-14 21-4 36-3zm160 0c-6 7-24-1-36 3 0-14 21-4 36-3zm165 0c-5 7-23-1-36 3 0-14 21-4 36-3zm160 1c-5 7-23 0-35 3 0-14 21-4 35-3zm166-1c-5 7-23-1-35 3 0-14 21-4 35-3z"/></g></svg>');
}

@media (min-width: 2100px) {
  .shapedividers_com-1115::before {
    background-size: 100% calc(2vw + 51px);
  }
}
